body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #304D86;
}
.dishContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: solid;
}
.dish{
    border-style: solid;
}
.dishPicDes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dishContainer img {
    width: 400px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.dishContainer img.selected {
    transform: scale(1.5);
}

#selected-dish-description {
    margin-top: 100px;
}
