:root {
  --shadow-color: #666; /* Example shadow color, change as needed */
}

/* HOMEPAGE */
body {
  margin: 10px;
}

/* Navigation Styles */
nav{
  background-color: transparent;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.navCF, .navResume{
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}


button.raise {
  font-family: "Press Start 2P", "Chakra Petch", "Arial", "sans-serif";
  background-color: #e86100 ;
  border: 2px solid;
  border-radius: 15px;
  line-height: 1;
  margin: 0.6em;
  padding: 1.2em 2.3em;
  cursor: pointer; /* Added for better UX */
}

/* Hover effect */
.raise:hover,
.raise:focus {
  /* Using the shadow color variable */
  box-shadow: 0 0.7em 0.7em -0.5em #333;
  box-shadow: inset -3px -3px 0 0 #333;
  transform: translateY(-0.25em);
}

button.raise a {
  text-decoration: none;
  color: inherit; /* Inherits color from button */
  display: block; /* Makes the entire button area clickable */
}

main {
  margin: 90px;
  padding: 10px;
}

.welcome {
  font-family: "Chakra Petch", "Arial", "sans-serif";
  border-style: solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 475px;

}
.sameColumn{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 10px;
}
#topRow{
  display: flex;
}
.description {
  font-family: "Chakra Petch", "Arial", "sans-serif";
  border-style: solid;
  padding:20px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.languages {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove default padding if necessary */
}

.languages li {
  background-repeat: no-repeat;
  background-position: 0 50%; /* Center the image vertically and place at the start */
  padding-left: 40px; /* Adjust according to your image size */
  margin-bottom: 10px; /* Optional: adds space between items */
  background-size: 20px 20px; /* Adjust according to your image size */
  line-height: 40px; /* Adjust line height to align text vertically if necessary */
  background-image: 10px;
}

.javascript {
  background-image: url(../images/javascript.png);
}

.java {
  background-image: url(../images/java.png);
}

.html-css {
  background-image: url(../images/css.png);
}

.python {
  background-image: url(../images/python.png);
}


.mainImage{
  display: flex;
  justify-content: center;
  width: 400px;
  align-self: center;
  
}
.imageOfMe {
  display: flex;
  justify-content: center;
}

footer {
  font-family: "Chakra Petch", "Arial", "sans-serif";
  background-color: transparent;
  color: #081f49;
  text-align: center;
}
.resumeBody{
  padding: 20px;
}
.thePDF{
  border-style: solid;
  display: flex;
  justify-content: center;

}
.bodyOfCF{
  padding: 10px;
}

.headerCF{
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P", "Chakra Petch", "Arial", "sans-serif";
}

/* CONTACT PAGE */
.ContactForm{
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}
.nameForm input[type="text"]{
  font-family: "Chakra Petch", "Arial", "sans-serif";
  border-style: solid;
  
  border-radius: 10px;
  width: 500px;
  height: 30px;
  margin-bottom: 10px;
}
.emailForm input[type="email"] {
  font-family: "Chakra Petch", "Arial", "sans-serif";
  border-style: solid;
  
  border-radius: 10px;
  width: 500px;
  height: 30px;
  margin-bottom: 10px;
}

.messageForm textarea{
  border-style: solid;
 
  border-radius: 9px;
  
}
.submit .raise {
  font-size: 1em; 
  width: auto; 
}

.otherWays{
  display: flex;
  justify-content: space-between;
}

.followMe{
  display: flex;
  align-items: end;
}

/* Link Functionality */
a:link{
  color: greenyellow;
}
a:visited{
  color:aqua;
}
a:hover{
  color: pink;
}

/*DARK MODE SWITCH*/
#modeButton {
  background-color: #F8F8FF; /* Light ghost white */
  color: black; /* Color of text in button */
}

#modeButton:hover {
  background-color: #e7e7e7; /* Slightly darker shade for hover effect */
}

/* Light Mode Styles */
.lightMode {
  background-color: white; /* Light background for light mode */
  color: black; /* Dark text for contrast */
}

.lightMode a {
  color: #007bff; /* Example link color in light mode */
}

/* Dark Mode Styles */
.darkMode {
  background-color: #121212; /* Dark background for dark mode */
  color: white; /* Light text for contrast */
}

.darkMode a {
  color: #9ecfff; /* Example link color in dark mode */
}