/*Lindsey Flores: This file is the recipe.css, which contains most of the style features*/

/*index.html css*/
body {
    background-color: #28282B;

}

#theSweet {
    color: antiquewhite;
    font-family: 'Monoton';
    font-size: 40px;
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

#home {
    display: flex;
    justify-content: flex-start;
    color: antiquewhite;
}

#recipeOfDay {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 20pt;
}

#main {
    font-family: 'Bungee', Arial, sans-serif;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 130px;
    font-size: 10pt;
}
/*Putting award image on top*/
#parent {
    position: relative;
    top: 0px;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid;
}

.image2 {
    position: absolute;
    top: 5px;
    left: -5em;
    rotate: -20deg;
}

#pieImage {
    border-radius: 20px;
    margin-top: 70px;
}

#shpeel {
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Patua One', Arial, sans-serif;
    font-size: medium;
    margin-right: 10px;
}

a:link {
    font-family: 'Bungee', 'Courier New', Courier;
    font-size: 13pt;
}

#moreRecipes {
    position: relative;
    overflow: hidden;
    margin-top: 90px;
}

#clickForMore {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    font-family: 'Bungee', Arial, sans-serif;
}

.moreEdits {
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px antiquewhite;
    transition: transform 0.3s ease;
}
/*my image float feature when user hovers*/
.moreEdits:hover{
    transform: translateY(-10px); 
}

#morePictures {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.homeLinks {
    color: pink;
}

.homeLinks:hover {
    color: #f5c71a;
}

/*Pie.html css*/
#recipeBody {
    background-image: url(images/silverware.jpg);
    color: #404040;
    font-size: 11pt;
}

#centered {
    text-align: center;
}

#recipeHeaders {
    color: #A4A400;
    background-color: #F0F0F0;
    text-align: center;
    display: inline;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 22pt;
    font-weight: bold;
}

.otherheading {
    color: #A4A400;
    background-color: #F0F0F0;
    display: inline;
    text-align: left;
    text-decoration: underline;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 18pt;
}

ul {
    list-style-image: url('images/pie_icon.gif');
}

#allComments {
    font-style: italic;
    margin-left: 30px;
    margin-right: 30px;
}

.pieLinks {
    color: #A4A400;
}